

.secondpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/wood-1.jpg');
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    justify-content: space-between;
    
    .second-top{
        width: 100%;
        flex: 5;
        margin-top: 2em;
        
        h4{
            font-size: 1.5em;
            padding: 0 .8em;
            line-height: 1;
            letter-spacing: 1.5px;

        }
    }
    .second-bottom{
        padding-bottom: 1em;
        flex: 1;
        display: flex;
        background-color: rgba(0, 0, 0, 0.274);
        justify-content: center;

        .inner{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .button{
             width: 80%;
            align-items: center;
            padding: .9em .5em;
            height: 3.2rem;
            border: none;
            border-radius: 2rem;
            background-color: black;
            color: white;font-weight: 600;
             -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        }
    }
}